<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>Login Page</title>
</head>
<body>

<div class="formWrapper">
    <form action="/login" method="post" class="formBox">
        <h1>Sign up!</h1>
        <lavel>First name:</lavel> <input type="text" name="firstName">
        <>Last name:</> <input type="text" name="lastName">
        Email: <input type="email" name="email">
        Password: <input type="password" name="password">
        Age: <input type="number" name="age">
        City: <input type="text" name="city">

        <input type="submit" value="Submit" class="btnSubmit">

    </form>
</div>

</body>
</html>