<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>Users Page</title>
</head>
<body>

<div class="usersWrapper">
    {{#each users}}
        <div class="userCard">
            <h3>
                {{this.firstName}} {{this.lastName}}
            </h3>
            <form action="/users/{{this.id}}">
                <input type="submit" value="Details" class="btnSubmit">
            </form>
            <form action="/deleteUser/{{this.id}}" method="get">
                <input type="submit" value="Delete" class="btnSubmit">
            </form>
        </div>
    {{/each}}
</div>

</body>
</html>